[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
djangorestframework = "*"
coreapi = "*"
pyyaml = "*"
drf-yasg = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
